/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset*/

h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  margin: 50px;
  font: 14px sans-serif;
}







.error {
  color: #FF0000;
}

.nav,.nav_page{
  width: 400px;
  display: flex;
  margin: 10px 10px;
  justify-content: space-around;
  
}
.nav>*,.nav_page>*{
  background-color: aqua;
  border:solid 1px;
  border-color:black;
  text-decoration: unset;

}
.nav>*:hover,.nav_page>*:hover{
  background-color: #6d8cb0;

}








textarea{
  /* top: 10px;
  bottom: 10px;
  position: absolute; */
  height: 200px;
  width: 400px;
}
input{
  display: block;
}


table,th,td{
  border: 1px solid;
}
td{
  padding: 5px;
  /* border: 10px; */
}
.red{
  background-color: #FF0000;
}
.new_str{
  min-width: 500px;
  display:flex;
  justify-content: space-around;
  margin: 10px;
}
.new_str *{
  width: 100px;
}
